# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
backend/venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db
